.convertSection {
	width: 95vw;
	margin: 0 auto;
	margin: 1em 0 4em;

	h2 {
		font-size: 2.6em;
		font-weight: 800;
		margin-left: 0.8em;
		margin-bottom: 0.6em;
	}

	.convertButton {
		padding: 1em 0;
		font-size: 1em;
		color: #121212;
		border-radius: 0.3em;
		width: min(30%, 20em);
		transition: filter 0.2s;

		&:hover {
			cursor: pointer;
			filter: brightness(0.7);
		}
	}
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 2em 0;

	.card {
		min-height: 35vh;
		flex-grow: 1;
		padding: 2em;
		margin: 0 2em 2em;
		border-radius: 0.3em;
		width: min(100%, 25em);
		background-color: #1d1d1d;

		.input {
			width: 90%;
			padding: 1em;
			font-size: 1em;
			color: #fdfff5;
			border-radius: 0.3em;
			background-color: #121212;
		}

		.dropdown {
			width: 90%;
			color: #fdfff5;
			margin: 0.4em 0 1.2em;
			border-radius: 0.3em;
			position: relative;

			&Control {
				padding: 1em;
				background-color: #121212;
			}

			&Menu{
				z-index: 1;
				width: 100%;
				max-height: 30vh;
				position: absolute;
				overflow-y: scroll;
				background-color: #923c3c;
			}
		}

		label {
			display: block;
			margin-bottom: 0.4em;
		}

		.resultContainer {
			font-size: 1.2em;
			margin: 1.8em 0 0.6em;

			small {
				margin-right: 1em;
			}
		}
	}
}
