* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    color: #fdfff5;
    overflow-x: hidden;
    background-color: #0a0502;
}
