.aboutMe {
  color: #121212;
  background-color: #fff;

  &Container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin: 0 auto;
    padding: 3em 2em;

    min-height: 80vh;
    width: min(95vw, 1200px);
  }

  &Lead {
    h2 {
      font-size: 1.8em;
    }

    p {
      max-width: 500px;
      margin: 0.8em 0 3em;
    }

    a {
      color: #121212;
      transition: filter 0.2s;

      &:hover {
        filter: opacity(0.7);
      }
    }
  }

  &Img {
    border-radius: 0.3em;
  }
}
