header {
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    height: 100%;
    display: flex;
    align-items: center;

    img {
        height: 2.5em;
    }

    h1 {
        font-size: 2.6em;
        margin-left: 0.2em;
    }

    h1:hover{
        cursor: default;
    }
}

.navigationContainer {
    height: 100%;
    margin-top: 0.6em;
    margin-right: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        height: 100%;
        margin-left: 1.6em;
        list-style: none;
        text-align: center;
        transition: filter 0.2s;

        a {
            display: flex;
            color: #fdfff5;
            align-items: center;
            text-decoration: none;
            font: 700 1.2em "Manrope", sans-serif;

            span {
                display: flex;
                align-items: center;
                margin-right: 0.4em;
            }
        }
    }

    li:last-child {
        cursor: pointer;
        padding: 0.8em 1.2em;
        border-radius: 0.2em;
        background-color: #1d1d1d;
    }

    li:hover {
        cursor: pointer;
        filter: brightness(0.7);
    }
}
